.project_heading h1{
    font-weight: 600;
}

.project_category{
    display: flex;
    gap: 1rem;
    margin: 1rem;
    background-color: #fff;
    padding-top: 1.1rem;
    padding-left: 1rem;
    margin: 1rem 9rem;
    border-radius: 10px;    
}

.project_category select, .category, .category_search, input, option, .project_category p, .category_right h4, .category_right p, .category_right button, .category_right input{
    border: none;
    outline: none;
    background-color: #fff;
    font-size: 1.5rem;
}
.category_search input{
    width: 40rem;
    height: 2rem;
    border-radius: 10px;
    padding-left: 1rem;
    font-size: 1.5rem;
}

.project_detail{
    margin-left: 2rem;
}


.project_details{
    display: flex;
    flex-direction: column;
    
}
.category_right{
    display: flex;
    gap: 1rem;
    margin: 1rem;
    background-color: #fff;    
    padding-left: 1rem;
    margin: 0rem 9rem;
    border-radius: 10px;    
}