.myAccount {
  display: flex;
  flex-direction: row;
  margin: 6rem 6rem;
  width: 60%;
  /* margin: 6rem; */
}

.myaccount_heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.myaccount_heading h1 {
    color: #000;
    font-weight: 600;
    font-size: 50px;
}

.myaccount_heading button {
  padding: 8px;
  border-radius: 8px;
  width: 200px;
  border: none;
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  background-color: #ad021a;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}


.myAccount label{
    font-size: 21px;
    font-weight: 400;
}

.myAccount input , .myAccount textarea, .myAccount select{
    border: 1px solid black;
    background-color: #D8C8B0;
}