.setupaccount {
    display: flex;
    flex-direction: row;
    margin: 6rem 6rem;
    width: 60%;
    /* margin: 6rem; */
  }
  
  .setupaccount_heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .setupaccount_heading h1 {
      color: #000;
      font-weight: 600;
      font-size: 50px;
  }
  
  .setupaccount_heading button {
    padding: 8px;
    border-radius: 8px;
    width: 200px;
    border: none;
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    background-color: #ad021a;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }
  
  
  .setupaccount label{
      font-size: 21px;
      font-weight: 400;
  }
  
  .setupaccount input , .setupaccount textarea, .setupaccount select{
      border: 1px solid black;
      background-color: #D8C8B0;
  }

  .setupaccount .email{
    width: 80vh;
  }
  .setupaccount .role{
    width: 40vh;
  }
  .setupaccount .country{
    width: 50vh;
  }
  .setupaccount .phone{
    width: 70vh;
  }

  .setupaccount .hours{
    border: 1px solid black;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    background-color: #D8C8B0;
}

.setupaccount .hours span{
 background-color: #D8C8B0;
 margin-top: 5px;
}

  .setupaccount .hours_time, .setupaccount .weeks{
    border: none;
    background-color: transparent;
  }

  .setupaccount .hours_time{
    
    width: 5vh;
  }