.gigs_heading h1 {
  font-weight: 600;
  margin: 1rem 8rem;
  font-size: 50px;
}
.gigs{
  margin-top: 8rem;
}
.gigs_category {
  display: flex;
  gap: 1rem;
  margin: 1rem;
  border: 3px solid black;
  background-color: #fff;
  padding-top: 1.1rem;
  padding-left: 1rem;
  margin: 4rem 9rem;
  border-radius: 10px;
}

.gigs_category select,
.category,
.category_search,
input,
option,
.gigs_category p,
.category_right h4,
.category_right p,
.category_right button,
.category_right input {
  border: none;
  outline: none;
  background-color: #fff;
  font-size: 1.5rem;
}
.category_search input {
  width: 40rem;
  height: 2rem;
  border-radius: 10px;
  padding-left: 1rem;
  font-size: 1.5rem;
}

.gigs_detail {
  margin-left: 2rem;
}

.gigs_details {
  display: flex;
  flex-direction: column;
}
.category_right {
  display: flex;
  gap: 1rem;
  margin: 1rem;
  background-color: #fff;
  padding-left: 1rem;
  margin: 0rem 9rem;
  border-radius: 10px;
}

 .gigs_detail .inside{
  border: 3px solid black;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}